.gif-list {
  margin: 0 auto;
  margin-top: 25px;
}

input.new-item:focus {
  outline: none;
}

.list-group-item > button.delete,
.list-group-item > button.complete {
  float: right;
  height: 25px;
  margin-left: 5px;
}

.edit {
  width: 100%;
}

.taille-gif{
  width: 500px;
}

.space{
  margin-top: 50px;
  margin-left: 50px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: #A9A9A9;
  text-align: center;
}